body{
    padding: 0;
    margin: 0;
    background-color: darkgrey;
}

.calculator_body{
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    justify-content: center;
    margin: 10% auto;
    width: 500px;
    align-items: center;

}

.calculator_panel{
    display: flex;
    width: 400px;
    height: 50px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: end;
    font-size: 2rem;
    align-items: flex-end;
}

.calculator_tools{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.calculator_tools > button {
    height: 80px;   
    width: 80px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

.clear{
    margin-bottom: 30px;
}

.clear button{
    height: 50px;
    width: 400px;
}

